# Section 4: The `reduce()` Function

In [90]:
from functools import reduce
from collections import namedtuple
from collections import defaultdict
from pprint import pprint as pp
from datetime import date
from typing import TypedDict
from itertools import groupby

In [91]:
Scientist = namedtuple("Scientist", ["name", "field", "born", "nobel"])

In [92]:
scientists = (
    Scientist(name="Ada Lovelace", field="math", born=1815, nobel=False),
    Scientist(name="Emmy Noether", field="math", born=1882, nobel=False),
    Scientist(name="Marie Curie", field="chemistry", born=1867, nobel=True),
    Scientist(name="Tu Youyou", field="physics", born=1930, nobel=True),
    Scientist(name="Ada Yonath", field="chemistry", born=1939, nobel=True),
    Scientist(name="Vera Rubin", field="astronomy", born=1928, nobel=False),
    Scientist(name="Sally Ride", field="physics", born=1951, nobel=False),
)

In [93]:
class NameAge(TypedDict):
    name: str
    age: int


def get_name_and_age(scientist: Scientist) -> NameAge:
    return {
        "name": scientist.name,
        "age": date.today().year - scientist.born
    }


names_and_ages = tuple(map(get_name_and_age, scientists))
names_and_ages

({'name': 'Ada Lovelace', 'age': 207},
 {'name': 'Emmy Noether', 'age': 140},
 {'name': 'Marie Curie', 'age': 155},
 {'name': 'Tu Youyou', 'age': 92},
 {'name': 'Ada Yonath', 'age': 83},
 {'name': 'Vera Rubin', 'age': 94},
 {'name': 'Sally Ride', 'age': 71})

In [94]:
total_age = reduce(lambda acc, x: acc + x["age"], names_and_ages, 0)
total_age

842

In [95]:
sum(x["age"] for x in names_and_ages)

842

In [96]:
pp(scientists)

(Scientist(name='Ada Lovelace', field='math', born=1815, nobel=False),
 Scientist(name='Emmy Noether', field='math', born=1882, nobel=False),
 Scientist(name='Marie Curie', field='chemistry', born=1867, nobel=True),
 Scientist(name='Tu Youyou', field='physics', born=1930, nobel=True),
 Scientist(name='Ada Yonath', field='chemistry', born=1939, nobel=True),
 Scientist(name='Vera Rubin', field='astronomy', born=1928, nobel=False),
 Scientist(name='Sally Ride', field='physics', born=1951, nobel=False))

In [97]:
def reducer(acc: dict[str, list[str]], scientist: Scientist) -> dict[str, list[str]]:
    acc[scientist.field].append(scientist.name)
    return acc

In [98]:
scientists_by_field = reduce(
    reducer,
    scientists,
    {"math": [], "physics": [], "chemistry": [], "astronomy": []}
)
scientists_by_field

{'math': ['Ada Lovelace', 'Emmy Noether'],
 'physics': ['Tu Youyou', 'Sally Ride'],
 'chemistry': ['Marie Curie', 'Ada Yonath'],
 'astronomy': ['Vera Rubin']}

In [99]:
reduce(reducer, scientists, defaultdict(list))

defaultdict(list,
            {'math': ['Ada Lovelace', 'Emmy Noether'],
             'chemistry': ['Marie Curie', 'Ada Yonath'],
             'physics': ['Tu Youyou', 'Sally Ride'],
             'astronomy': ['Vera Rubin']})

In [100]:
pp({
    item[0]: list(item[1])
    for item in groupby(scientists, lambda x: x.field)
})

{'astronomy': [Scientist(name='Vera Rubin', field='astronomy', born=1928, nobel=False)],
 'chemistry': [Scientist(name='Ada Yonath', field='chemistry', born=1939, nobel=True)],
 'math': [Scientist(name='Ada Lovelace', field='math', born=1815, nobel=False),
          Scientist(name='Emmy Noether', field='math', born=1882, nobel=False)],
 'physics': [Scientist(name='Sally Ride', field='physics', born=1951, nobel=False)]}