In [9]:
from collections import namedtuple
from pprint import pprint as pp
from datetime import date
from typing import TypedDict

In [10]:
Scientist = namedtuple("Scientist", ["name", "field", "born", "nobel"])

In [11]:
scientists = (
    Scientist(name="Ada Lovelace", field="math", born=1815, nobel=False),
    Scientist(name="Emmy Noether", field="math", born=1882, nobel=False),
    Scientist(name="Marie Curie", field="", born=1867, nobel=True),
    Scientist(name="Tu Youyou", field="physics", born=1930, nobel=True),
    Scientist(name="Ada Yonath", field="chemistry", born=1939, nobel=True),
    Scientist(name="Vera Rubin", field="astronomy", born=1928, nobel=False),
    Scientist(name="Sally Ride", field="physics", born=1951, nobel=False),
)

In [12]:
class NameAge(TypedDict):
    name: str
    age: int


def get_name_and_age(scientist: Scientist) -> NameAge:
    return {
        "name": scientist.name,
        "age": date.today().year - scientist.born
    }


names_and_ages = tuple(map(get_name_and_age, scientists))
pp(names_and_ages)

({'age': 207, 'name': 'Ada Lovelace'},
 {'age': 140, 'name': 'Emmy Noether'},
 {'age': 155, 'name': 'Marie Curie'},
 {'age': 92, 'name': 'Tu Youyou'},
 {'age': 83, 'name': 'Ada Yonath'},
 {'age': 94, 'name': 'Vera Rubin'},
 {'age': 71, 'name': 'Sally Ride'})

In [14]:
pp(tuple(get_name_and_age(x) for x in scientists))

({'age': 207, 'name': 'Ada Lovelace'},
 {'age': 140, 'name': 'Emmy Noether'},
 {'age': 155, 'name': 'Marie Curie'},
 {'age': 92, 'name': 'Tu Youyou'},
 {'age': 83, 'name': 'Ada Yonath'},
 {'age': 94, 'name': 'Vera Rubin'},
 {'age': 71, 'name': 'Sally Ride'})